[*.cs]
dotnet_naming_rule.private_members_with_underscore.symbols  = private_fields
dotnet_naming_rule.private_members_with_underscore.style    = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = suggestion
dotnet_naming_symbols.private_fields.applicable_kinds           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _

dotnet_diagnostic.CA1001.severity = warning # CA1001: Types that own disposable fields should be disposable
dotnet_diagnostic.CA2213.severity = warning # CA2213: Disposable fields should be disposed
dotnet_diagnostic.CA2215.severity = warning # CA2215: Dispose methods should call base class dispose
dotnet_diagnostic.CS8509.severity = warning # CS8509: The switch expression does not handle all possible values of its input type (it is not exhaustive)
dotnet_diagnostic.RCS1090.severity = suggestion # RCS1090: Add call to 'ConfigureAwait' (or vice versa)

# CA1001: Subject<T> to ignore
dotnet_code_quality.CA1001.excluded_symbol_names = T:System.Reactive.Subjects.Subject*

# CS0618: Type or member is obsolete
[{**/VersionUpgraders/**.cs}]
dotnet_diagnostic.CS0618.severity = none
