[*.cs]
dotnet_naming_rule.private_members_with_underscore.symbols  = private_fields
dotnet_naming_rule.private_members_with_underscore.style    = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = suggestion
dotnet_naming_symbols.private_fields.applicable_kinds           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _

# RCS1090: Add call to 'ConfigureAwait' (or vice versa)
dotnet_diagnostic.RCS1090.severity = suggestion

# CS8509: The switch expression does not handle all possible values of its input type (it is not exhaustive)
dotnet_diagnostic.CS8509.severity = warning

# CS0618: Type or member is obsolete
[{**/VersionUpgraders/**.cs}]
dotnet_diagnostic.CS0618.severity = none
